
/* Your CSS Code here. */
#btn{
	background-color: black;
	color: white;
	border-radius: 5px;
	border: none;
	paddin: 10px 20px;
	cursor: pointer;
}

#btn:hover {
    background-color: yellow; /* Change background color on hover */
    color: black; /* Change font color on hover */
    border-radius: 30px; /* Change border radius on hover */
}

